/*========COMMON STYLES=========*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/*========COMMON STYLES=========*/

/*=========HEADER===============*/
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-item {
    padding: 24px 0;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.logotype {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.logotype-span {
    font-family: 'Raleway', sans-serif;
    color: #2E2F42;
}

.menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #2E2F42;
    padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.contacts {
    font-style: normal
}

.contacts-item-link {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.contacts-item-link:hover,
.contacts-item-link:focus {
    color: #404BBF;
}


/*=========HEADER===============*/

/*==============HERO============*/

.hero-section {
    background-color: #2e2f42;
    display: block;
    padding: 188px 0;

}

.main-slogan {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;


}

.order-button {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.order-button:hover,
.order-button:focus {
    background: #404BBF;
}

/*==============HERO============*/

/*=============OUR PRINCIPALS========*/

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.principal-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.principal-text {
    font-size: 16px;
    line-height: 1.5;
}

.principals-list {
    display: flex;
    gap: 24px;
}

.principal-description {
    width: calc((100% - 3 * 24px) / 4);
}



/*=============OUR PRINCIPALS========*/

/*============OUR TEAM================*/

.team {
    background: #F4F4FD;
}

.team-header {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.team-member-card {
    background: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-member-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team-member-position {
    font-size: 16px;
    line-height: 1.5;
}

.team-member-description {
    padding: 32px 0;
    text-align: center;
}

.team-list {
    display: flex;
    gap: 24px;
}

/*============OUR TEAM================*/

/*============OUR PORTFOLIO============*/

.portfolio-header {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-item-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-item-description {
    font-size: 16px;
    line-height: 1.5;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
    flex-direction: column;
    align-items: flex-start;
}

.portfolio-item-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/*============OUR PORTFOLIO============*/

/*=============FOOTER==================*/
.footer {
    background-color: #2E2F42;
    margin: 0 auto;
    padding: 100px 0;
}

footer .logotype {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logotype-span {
    font-family: 'Raleway', sans-serif;
    color: #f4f4fd;
}

.credo {
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    background: #2E2F42;
    width: 264px;
}